{% extends 'base.html' %}
{% load static %}

{% block mystatic %}   
<link rel="stylesheet" href="{% static 'css/product-details.css' %}">
{% endblock mystatic %}

{% block body %}
    

    

      <!-- =======================================--> 
      <section class="single-banner inner-section" style="background: url(images/single-banner.jpg) no-repeat center;">
          <div class="container">
              <h2>product video</h2>
              <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                  <li class="breadcrumb-item"><a href="shop-4column.html">shop-4column</a></li>
                  <li class="breadcrumb-item active" aria-current="page">product-video</li>
              </ol>
          </div>
      </section>
      <!--=====================================
                  BANNER PART END
      =======================================-->


      <!--=====================================
              PRODUCT DETAILS PART START
      =======================================-->
      <section class="inner-section">
          <div class="container">
              <div class="row">
                  <div class="col-lg-6">
                      <div class="details-gallery">
                          <div class="details-label-group">
                              <label class="details-label new">{{proudct.flag}}</label>
                              <label class="details-label off">-10%</label>
                          </div>
                          <ul class="details-preview"> 
                            
                            {% for img in imges  %}
                                
                              <li><img src={{img.img.url}} alt="product"></li>
                              {% endfor %}
                          </ul>
                          <ul class="details-thumb">
                            {% for img in imges  %}
                                
                            <li><img src={{img.img.url}} alt="product"></li>
                            {% endfor %}
                              
                          </ul>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <ul class="product-navigation">
                          <li class="product-nav-prev">
                              <a href="#">
                                  <i class="icofont-arrow-left"></i>
                                  prev product
                                  <span class="product-nav-popup">
                                      <img src="images/product/02.jpg" alt="product">
                                      <small>green chilis</small>
                                  </span>
                              </a>
                          </li>
                          <li class="product-nav-next">
                              <a href="#">
                                  next product
                                  <i class="icofont-arrow-right"></i>
                                  <span class="product-nav-popup">
                                      <img src="images/product/03.jpg" alt="product">
                                      <small>green chilis</small>
                                  </span>
                              </a>
                          </li>
                      </ul>
                      <div class="details-content">
                          <h3 class="details-name"><a href="#">{{proudct}}</a></h3>
                          <div class="details-meta">
                              <p>SKU:<span>{{proudct.sku}}</span></p>
                              <p>BRAND:<a href="#">{{proudct.brand}}</a></p>
                              <p>category:<a href="#">{{proudct.category}}</a></p>
                          </div>
                          <div class="details-rating">
                              <i class="active icofont-star"></i>
                              <i class="active icofont-star"></i>
                              <i class="active icofont-star"></i>
                              <i class="active icofont-star"></i>
                              <i class="icofont-star"></i>
                              <a href="#">(3 reviews)</a>
                          </div>
                          <h3 class="details-price">
                              <del>$38.00</del>
                              <span>${{proudct.price}}<small>/per kilo</small></span>
                          </h3>
                          <p class="details-desc">{{proudct.subtitle}}</p>
                          <div class="details-list-group">
                              <label class="details-list-title">tags:</label>
                              <ul class="details-tag-list">
                                
                                {% for tag in proudct.tags.all  %}
                                    
                                
                                    
                                  <li><a href="#">{{tag}}</a></li>
                                {% endfor %}
                              </ul>
                          </div>
                          <div class="details-list-group">
                              <label class="details-list-title">Share:</label>
                              <ul class="details-share-list">
                                  <li><a href="#" class="icofont-facebook" title="Facebook"></a></li>
                                  <li><a href="#" class="icofont-twitter" title="Twitter"></a></li>
                                  <li><a href="#" class="icofont-linkedin" title="Linkedin"></a></li>
                                  <li><a href="#" class="icofont-instagram" title="Instagram"></a></li>
                              </ul>
                          </div>
                          <form class="details-list-title" method="POST" action="{% url 'orders:add-cart' %}" >
                            {% csrf_token %}
                            <div class="form-group row">
                                <label for="quantity" class="col-sm-2 col-form-label">quantity</label>
                                <input type="hidden" name="proudct_id" value="{{proudct.id}}">
                                <div class="col-sm-10">
                                  <input type="number" class="form-control" name="quantity" id="quantity" placeholder="quantity" value="1">
                                  
                                </div>
                                <div class="details-add-group">
                                    <button type="submit" class="product-add" title="Add to Cart">
                                         <i class="fas fa-shopping-basket"></i> 
                                        <span>add to cart</span>
                                    </button>
                                    
                                </div>
                            
                          </form>
                         
                          <div class="details-action-group">
                              <a class="details-wish wish" href="#" title="Add Your Wishlist">
                                  <i class="icofont-heart"></i>
                                  <span>add to wish</span>
                              </a>
                              <a class="details-compare" href="compare.html" title="Compare This Item">
                                  <i class="fas fa-random"></i>
                                  <span>Compare This</span>
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!--=====================================
              PRODUCT DETAILS PART END
      =======================================-->


      <!--=====================================
                PRODUCT TAB PART START
      =======================================-->
      <section class="inner-section">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      <ul class="nav nav-tabs">
                          <li><a href="#tab-desc" class="tab-link active" data-bs-toggle="tab">descriptions</a></li>
                          <li><a href="#tab-spec" class="tab-link" data-bs-toggle="tab">Specifications</a></li>
                          <li><a href="#tab-reve" class="tab-link" data-bs-toggle="tab">reviews ({{reviews.count}})</a></li>
                      </ul>
                  </div>
              </div>
              <div class="tab-pane fade show active" id="tab-desc">
                  <div class="row">
                      <div class="col-lg-6">
                          <div class="product-details-frame">
                              <div class="tab-descrip">
                                {{proudct.describtion|safe}}
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="product-details-frame">
                              <div class="tab-descrip">
                                  <img src="images/video.jpg" alt="video">
                                  <a title="Product Video" href={{proudct.video}} class="venobox fas fa-play" data-autoplay="true" data-vbtype="video"></a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="tab-pane fade" id="tab-spec">
                  <div class="row">
                      <div class="col-lg-12">
                          <div class="product-details-frame">
                              <table class="table table-bordered">
                                  <tbody>
                                      <tr>
                                          <th scope="row">Product code</th>
                                          <td>SKU: 101783</td>
                                      </tr>
                                      <tr>
                                          <th scope="row">Weight</th>
                                          <td>1kg, 2kg</td>
                                      </tr>
                                      <tr>
                                          <th scope="row">Styles</th>
                                          <td>@Girly</td>
                                      </tr>
                                      <tr>
                                          <th scope="row">Properties</th>
                                          <td>Short Dress</td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="tab-pane fade" id="tab-reve">
                  <div class="row">
                      <div class="col-lg-12">
                        <ul  id="reviewDiv" class="review-list" >
                          {% include 'include/reviews.html' %}
                        </ul>
                          <div class="product-details-frame">
                              <h3 class="frame-title">add your review</h3>
                              <form class="review-form" method="POST" action={% url 'proudct:add_review' object.id %} id="ReviewFrom">
                                {% csrf_token %}
                                  <div class="row">
                                      <div class="col-lg-12">
                                          <div class="star-rating">
                                              <input type="radio" name="rate" value=5 id="star-1"><label for="star-1"></label>
                                              <input type="radio" name="rate" value=4 id="star-2"><label for="star-2"></label>
                                              <input type="radio" name="rate" value=3 id="star-3"><label for="star-3"></label>
                                              <input type="radio" name="rate" value=2 id="star-4"><label for="star-4"></label>
                                              <input type="radio" name="rate" value=1 id="star-5"><label for="star-5"></label>
                                          </div>
                                      </div>
                                      <div class="col-lg-12">
                                          <div class="form-group">
                                              <textarea class="form-control" name="review" placeholder="Describe"></textarea>
                                          </div>
                                      </div>
                                      <!-- <input type="submit" id="submit"> -->
                                      <button id="submit" class="btn btn-inline">
                                        <i class="icofont-water-drop"></i>
                                        <span>drop your review</span>
                                    </button>
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!--=====================================
                  PRODUCT TAB PART END
      =======================================-->


      <!--=====================================
               PRODUCT RELATED PART START
      =======================================-->
      <section class="inner-section">
          <div class="container">
              <div class="row">
                  <div class="col">
                      <div class="section-heading">
                          <h2>related this items</h2>
                      </div>
                  </div>
              </div>
              <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
                {% for proudct in related  %}
                  
                
                <div class="col">
                      <div class="product-card">
                          <div class="product-media">
                              <div class="product-label">
                                
                                {% if proudct.flag == "feature" %}
                                    <label class="label-text feat">{{proudct.flag}}</label>
                                {% else %}
                                    <label class="label-text {{proudct.flag}}">{{proudct.flag}}</label>
                                {% endif %}
                              </div>
                              <button class="product-wish wish">
                                  <i class="fas fa-heart"></i>
                              </button>
                              <a class="product-image" href="">
                                  <img src="{{proudct.img.url}}" alt="product">
                              </a>
                              <div class="product-widget">
                                  <a title="Product Compare" href="compare.html" class="fas fa-random"></a>
                                  <a title="Product Video" href="{{proudct.video}}" class="venobox fas fa-play" data-autoplay="true" data-vbtype="video"></a>
                                  <a title="Product View" href="#" class="fas fa-eye" data-bs-toggle="modal" data-bs-target="#product-view"></a>
                              </div>
                          </div>
                          <div class="product-content">
                              <div class="product-rating">
                                  <i class="active icofont-star"></i>
                                  <i class="active icofont-star"></i>
                                  <i class="active icofont-star"></i>
                                  <i class="active icofont-star"></i>
                                  <i class="icofont-star"></i>
                                  <a href="product-video.html">(3)</a>
                              </div>
                              <h6 class="product-name">
                                  <a href="{% url 'proudct:proudct_detail' proudct.id   %}">{{proudct.name}}</a>
                              </h6>
                              <h6 class="product-price">
                                  <del>$34</del>
                                  <span>${{proudct.price}}<small>/piece</small></span>
                              </h6>
                              <button class="product-add" title="Add to Cart">
                                  <i class="fas fa-shopping-basket"></i>
                                  <span>add</span>
                              </button>
                              <div class="product-action">
                                  <button class="action-minus" title="Quantity Minus"><i class="icofont-minus"></i></button>
                                  <input class="action-input" title="Quantity Number" type="text" name="quantity" value="1">
                                  <button class="action-plus" title="Quantity Plus"><i class="icofont-plus"></i></button>
                              </div>
                          </div>
                      </div>
                  </div>
                {% endfor %} 
              </div>
              <div class="row">
                  <div class="col-lg-12">
                      <div class="section-btn-25">
                          <a href="{% url 'proudct:category_detail' proudct.category.id   %}" class="btn btn-outline">
                              <i class="fas fa-eye"></i>
                              <span>view all related</span>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!--=====================================
               PRODUCT RELATED PART END
      =======================================-->


      <!--=====================================
                  NEWSLETTER PART START
      =======================================-->
      <section class="news-part" style="background: url(images/newsletter.jpg) no-repeat center;">
          <div class="container">
              <div class="row align-items-center">
                  <div class="col-md-5 col-lg-6 col-xl-7">
                      <div class="news-text">
                          <h2>Get 20% Discount for Subscriber</h2>
                          <p>Lorem ipsum dolor consectetur adipisicing accusantium</p>
                      </div>
                  </div>
                  <div class="col-md-7 col-lg-6 col-xl-5">
                      <form class="news-form">
                          <input type="text" placeholder="Enter Your Email Address">
                          <button><span><i class="icofont-ui-email"></i>Subscribe</span></button>
                      </form>
                  </div>
              </div>
          </div>
      </section>
      <!--=====================================
                  NEWSLETTER PART END
      =======================================-->


      <!--=====================================
                  INTRO PART START
      =======================================-->
      <section class="intro-part">
          <div class="container">
              <div class="row intro-content">
                  <div class="col-sm-6 col-lg-3">
                      <div class="intro-wrap">
                          <div class="intro-icon">
                              <i class="fas fa-truck"></i>
                          </div>
                          <div class="intro-content">
                              <h5>free home delivery</h5>
                              <p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-6 col-lg-3">
                      <div class="intro-wrap">
                          <div class="intro-icon">
                              <i class="fas fa-sync-alt"></i>
                          </div>
                          <div class="intro-content">
                              <h5>instant return policy</h5>
                              <p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-6 col-lg-3">
                      <div class="intro-wrap">
                          <div class="intro-icon">
                              <i class="fas fa-headset"></i>
                          </div>
                          <div class="intro-content">
                              <h5>quick support system</h5>
                              <p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-6 col-lg-3">
                      <div class="intro-wrap">
                          <div class="intro-icon">
                              <i class="fas fa-lock"></i>
                          </div>
                          <div class="intro-content">
                              <h5>secure payment way</h5>
                              <p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
      $(document).ready(function(){
                    (document).on('#submit','#ReviewFrom',function(event){
                        event.preventDefault();
                        $.ajax({
                            type:$(this).attr('method'),
                            url:$(this).attr('action'),
                            data:$(this).serialize(),
                            dataType:'json',
                            success:function(response){
                                $('#reviewDiv').html(response["result"])
                            },
                            error:function(err){

                                console.log(err);
                            }
                        })

                    })

            }
            )
     </script>
      <!--=====================================
                  INTRO PART END
      =======================================-->
      {% endblock body %}